/* styles.css */
.core-values-container {
    min-height: 100vh;
    background-color: #fffefee1; 
    padding: 2rem;
  }
  
  .content-wrapper-v {
    max-width: 60rem; 
    margin: 0 auto;
  }
  
  .main-title {
      font-size: 2rem;
      font-weight: bold;
      background: linear-gradient(120deg, #1d6cec, #fa580d);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      margin-bottom: 2rem;
      text-align: center;
    
  }
  
  .timeline-container {
    position: relative;
  }
  
  .timeline-line {
    position: absolute;
    left: 2.5rem;
    top: 1rem;
    bottom: o;
    width: 2px;
    background-color: rgba(11, 11, 11, 0.826); 
  }
  
  .timeline-items {
    display: flex;
    flex-direction: column;
    gap: 3rem; 
  }
  
  .timeline-item {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .number-circle {
    position: relative;
    z-index: 10;
    flex-shrink: 0;
    width: 5rem; 
    height: 5rem; 
    /* background: linear-gradient(rgba(255, 255, 255, 0.116), rgba(247, 247, 247, 0)),
    url('../Assets/photo17.jpg'); */
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* .number {
    font-size: 1.875rem; 
    font-weight: 700;
    color: #a855f7; 
  } */
  
  .content {
    padding-top: 1rem; 
  }
  
  .value-title {
    font-size: 1.5rem; 
    font-weight: 700;
    color: black;
    margin-bottom: 0.75rem; 
  }
  
  .value-description {
    font-size: 1.125rem; 
    color: black;
    line-height: 1.75; 
  }
  /* Responsive adjustments */
  @media (max-width: 640px) {
    .core-values-container {
      padding: 1rem;
    }
  
    .main-title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  
    .timeline-items {
      gap: 2rem;
    }
  
    .number-circle {
      width: 4rem;
      height: 4rem;
    }
  
    .img-container {
      width: 50px; 
      height: 50px;
      background-color: aliceblue;
      border-radius: 50%; 
      overflow: hidden;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .img-container img {
      width: 50%;
      height: 50%;
      object-fit: cover;
    }
    
    .value-title {
      font-size: 1.25rem;
    }
  
    .value-description {
      font-size: 1rem;
    }
  }